pywhatkit
selenium
requests
schedule
webdriver-manager
requests
flask
python-dotenv
pytz
pillow
googletrans==4.0.0-rc1
opencv-python
pydub
mutagen
lyricsgenius
psycopg2-binary
sqlalchemy
pymongo
pandas
numpy
scikit-learn
qrcode
beautifulsoup4
selenium
openai
pytesseract